:root {
    --lyrene-main-bg: #1e242b;
    --lyrene-img-bg: #3d4650;
    --lyrene-dot-1: #FF9FB2;
    --lyrene-dot-2: #567e8a;
    --lyrene-dot-3: #A89F68;
    --lyrene-dot-4: #80637d;
    --lyrene-dot-5: #68676f;
    --lyrene-mp: 10px;
}
:root {
    --vh: 100vh;
    --show-header: none;
    --smooth-header: 0;
    --hide-calc: flex;
    --waiting: none;
}
html {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--lyrene-main-bg, #1e242b);
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Verdana, "Microsoft JhengHei", sans-serif;
    letter-spacing: 1px;
}
#whole, #index {
    display: var(--show-index, "none");
    height: 100%;
    overflow: hidden;
}
img {
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}
/* GROUP: containers */
    .index-container {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: var(--hide-calc, flex);
        -webkit-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        background-color: var(--lyrene-main-bg, #1e242b);
        width: 100%;
        height: var(--vh, 100vh); /* defined after calc */
        overflow: hidden;
    }
    .about-container {
        padding: 60px 0;
        background-color: var(--lyrene-img-bg, #3d4650);
        width: 100%;
        height: auto;
        min-height: var(--vh, 100vh);
    }
    .footer-container {
        padding: 2rem;
        background-color: var(--lyrene-main-bg, #1e242b);
        width: 100%;
        color: white;
    }
/* GROUP: header */
    .header {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: var(--lyrene-mp, 10px);
        text-align: center;
        background-color: var(--lyrene-main-bg, #1e242b);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: var(--smooth-header, 0);
        transition: opacity 300ms;
    }
    .header>img {
        width: auto;
        height: 40px;
        filter: invert(1);
    }
    .scroll-top {
        position: fixed;
        z-index: 10000;
        right: 35px;
        bottom: 30px;
        border-radius: 35px;
        background-color: var(--lyrene-dot-1, #FF9FB2);
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 25px;
        line-height: 35px;
        color: white;
        cursor: pointer;
        opacity: .5;
        transition: all 300ms;
    }
    .scroll-top:hover,.scroll-top:active {
        opacity: 1;
    }
    .scroll-top:active {
        transform: scale(.8);
    }
/* GROUP: left */
    .index-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        flex: 1;
        justify-content: center;
        padding: 0 var(--lyrene-mp, 10px);
    }
    .index-left .left-child {
        position: relative;
        z-index: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        justify-content: center;
        /* box */
        margin: 0 var(--lyrene-mp, 10px);
        background-size: 10px 10px;
        background-repeat: repeat;
        max-width: 250px;
        height: 80%;
        /* font */
        color: var(--lyrene-main-bg, #1e242b);
        text-align: center;
        font-size: 3vw;
        font-weight: bold;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        letter-spacing: 10px;
        /* others */
        overflow: hidden;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -webkit-user-select: none;
        -moz-user-select: none;
        cursor: pointer;
        opacity: .6;
        transition-property: opacity, width, height;
        transition-duration: 300ms;
    }
    .index-left .left-child[disabled] {
        cursor: inherit;
    }
    .index-left .left-child:active:not([disabled]) {
        height: 100%;
        letter-spacing: 15px;
    }
    .index-left .left-child:active:not([disabled])::after {
        display: none;
    }
    .index-left .left-child:hover:not([disabled]),
    .index-left .left-child:active:not([disabled]) {
        opacity: 1;
    }
    .index-left .left-child:nth-child(odd) {
        align-items: flex-start;
        align-self: flex-start;
        text-align: left;
        transform: translateY(-100vh);
    }
    .index-left .left-child:nth-child(even) {
        align-items: flex-end;
        align-self: flex-end;
        text-align: right;
        transform: translateY(100vh);
    }
    .left-child :nth-child(n) {
        height: 100%;
        background-color: rgba(255, 255, 255, .75);
    }
    .left-child:nth-child(odd) :nth-child(n) {
        padding-top: 2rem;
    }
    .left-child:nth-child(even) :nth-child(n) {
        padding-bottom: 2rem;
    }
    .index-left .left-child::after {
        content: "";
        position: absolute;
        z-index: 0;
    }
    .index-left .left-child:nth-child(1) {
        background-image: linear-gradient(-45deg, var(--lyrene-dot-1, #FF9FB2) 25%, transparent 25%, transparent 50%, var(--lyrene-dot-1, #FF9FB2) 50%, var(--lyrene-dot-1, #FF9FB2) 75%, transparent 75%, transparent);
    }
    .index-left .left-child:nth-child(2) {
        background-image: linear-gradient(-45deg, var(--lyrene-dot-2, #567e8a) 25%, transparent 25%, transparent 50%, var(--lyrene-dot-2, #567e8a) 50%, var(--lyrene-dot-2, #567e8a) 75%, transparent 75%, transparent);
    }
    .index-left .left-child:nth-child(3) {
        background-image: linear-gradient(-45deg, var(--lyrene-dot-3, #A89F68) 25%, transparent 25%, transparent 50%, var(--lyrene-dot-3, #A89F68) 50%, var(--lyrene-dot-3, #A89F68) 75%, transparent 75%, transparent);
    }
    .index-left .left-child:nth-child(4) {
        background-image: linear-gradient(-45deg, var(--lyrene-dot-4, #80637d) 25%, transparent 25%, transparent 50%, var(--lyrene-dot-4, #80637d) 50%, var(--lyrene-dot-4, #80637d) 75%, transparent 75%, transparent);
    }
    .main-btn-1::after {
        bottom: 0;
        left: 0;
        border-color: transparent var(--lyrene-main-bg, #1e242b) transparent transparent;
        border-style: solid solid solid solid;
        border-width: 150px 250px 0 0;
        width: 250px;
    }
    .main-btn-2::after {
        top: 0;
        left: 0;
        border-color: var(--lyrene-main-bg, #1e242b) transparent transparent transparent;
        border-style: solid solid solid solid;
        border-width: 150px 250px 0 0;
        width: 250px;
    }
    .main-btn-3::after {
        bottom: 0;
        left: 0;
        border-color: transparent transparent var(--lyrene-main-bg, #1e242b) transparent;
        border-style: solid solid solid solid;
        border-width: 0 250px 150px 0;
        width: 250px;
    }
    .main-btn-4::after {
        top: 0;
        left: 0;
        border-color: transparent var(--lyrene-main-bg, #1e242b) transparent transparent;
        border-style: solid solid solid solid;
        border-width: 0 250px 150px 0;
        width: 250px;
    }
    .left-child .btn-t-en {
        font-size: 1.5vw;
        letter-spacing: 5px;
        transition: all 300ms;
    }
    .left-child:active:not([disabled]) .btn-t-en {
        letter-spacing: 10px;
    }
/* GROUP: right */
    .index-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-flex: none;
        flex: none;
        padding: 1rem;
        padding-left: 0;
        width: 30%;
        min-width: 300px;
        transition: all 1s;
    }
    .title-container {
        width: 100%;
        padding: 1rem;
    }
    .title-container>img {
        width: 100%;
        height: auto;
        filter: invert(1);
    }
    .swiper-container {
        position: relative;
        background-color: var(--lyrene-img-bg, #3d4650);
        background-image: url("../img/loading.svg");
        background-size: 50px 50px;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .swiper-container::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: solid 3px var(--lyrene-main-bg, #1e242b);
    }
    .swiper-inside {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .swiper-inside>img {
        position: absolute;
        top: 0;
        margin: auto;
        width: auto;
        height: 100%;
    }
/* GROUP: dot */
    .index-img-page-dot {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-flex: none;
        flex: none;
        width: 15px;
    }
    .index-img-page-dot :nth-child(n) {
        -webkit-box-flex: 1;
        flex: 1;
        width: 100%;
        cursor: pointer;
        transition: all 300ms;
    }
    .page-dot-chosen {
        background-image: linear-gradient(-45deg, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
        background-size: 5px 5px;
        background-repeat: repeat;
        box-shadow: inset 0 0 0 2px white;
    }
/* GROUP: about */
    .about-title, .about-box-title {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
        color: var(--lyrene-dot-1, #FF9FB2);
    }
    .about-title.box {
        margin-top: 0;
        padding-left: 10px;
        color: white;
        letter-spacing: 5px;
    }
    .about-title.box :nth-child(n) {
        font-weight: bold;
    }
    .about-title .tw {
        padding-left: 10px;
        font-weight: bold;
        letter-spacing: 10px;
    }
    .about-title .en {
        padding-left: 5px;
        letter-spacing: 5px;
    }
    .about-title .line {
        background-image: linear-gradient(-45deg, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
        background-size: 5px 5px;
        background-repeat: repeat;
        margin: 1rem auto 0 auto;
        width: 50px;
        height: 5px;
    }
    .about-box-main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        justify-content: center;
        margin: 0 2rem;
        padding: 2rem;
        color: white;
    }
    .head-shot {
        -webkit-box-flex: none;
        flex: none;
        border-radius: 300px;
        background-image: url("../img/headshot.JPG");
        background-position: 50% 50%;
        background-size: 300px auto;
        width: 300px;
        height: 300px;
    }
    .profile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        align-items: center;
        align-self: center;
        padding-left: 60px;
        height: fit-content;
    }
    .profile-name {
        margin-bottom: 1rem;
        width: 100%;
        max-width: 550px;
        color: var(--lyrene-dot-1, #FF9FB2);
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 3px;
    }
    .profile-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: calc(var(--lyrene-mp, 10px) / 2) 0;
        width: 100%;
        max-width: 550px;
    }
    .profile-title {
        position: relative;
        -webkit-box-flex: none;
        flex: none;
        padding-right: calc(var(--lyrene-mp, 10px) * 2);
        width: 100px;
        text-align: right;
        vertical-align: top;
        letter-spacing: 2px;
        filter: drop-shadow(0 0 2px white);
    }
    .profile-title::after {
        content: "";
        position: absolute;
        top: calc(var(--lyrene-mp, 10px) / 2);
        right: 0;
        background-color: white;
        width: 2px;
        height: calc(100% - var(--lyrene-mp, 10px));
    }
    .profile-sub, .profile-txt {
        -webkit-box-flex: 1;
        flex: 1;
        padding-left: calc(var(--lyrene-mp, 10px) * 2);
        text-align: left;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .profile-txt {
        font-weight: normal;
    }
    .about-box {
        position: relative;
        z-index: 0;
        margin: 1rem 2rem;
        padding: 2rem;
        background-color: var(--lyrene-main-bg, #1e242b);
        height: auto;
        color: white;
        transition: all 300ms;
    }
    .about-box::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: solid 3px var(--lyrene-ing-bg, #3d4650);
        pointer-events: none;
    }
    .about-box:hover, .about-box:active {
        box-shadow: 0 0 5px var(--lyrene-main-bg, #1e242b);
    }
    @media screen and (max-width: 425px) {
        .about-box {
            margin: 1rem var(--lyrene-mp, 10px);
        }    
    }
    .about-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
/* GROUP: d3 */
    .d3-left {
        width: calc(100% - 250px);
    }
    .d3-right {
        width: 250px;
        padding-left: 1rem;
        border-left: solid 1px white;
    }
    @media screen and (max-width: 1177px) {
        .about-flex.d3 {
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
        }
        .d3-left, .d3-right {
            -webkit-box-flex: 1;
            flex: 1;
            width: auto;
        }
        .d3-right {
            padding-left: 0;
            border-left: none;
            padding-top: 1rem;
            border-top: solid 1px white;
        }
    }
    #d3-chart {
        width: 100%;
    }
    .lyrene-chart>rect {
        position: relative;
        fill: var(--lyrene-img-bg, #3d4650);
        stroke-width: 2;
        cursor: pointer;
        transition: all 300ms;
    }
    .lyrene-chart>rect:hover,
    .lyrene-chart>rect:active {
        stroke-width: 5;
    }
    .lyrene-chart-val {
        fill: white;
        font-size: .8rem;
    }
    rect.FE {
        stroke: var(--lyrene-dot-1, #FF9FB2);
    }
    rect.FE[data-selected="true"] {
        fill: var(--lyrene-dot-1, #FF9FB2);
    }
    rect.design {
        stroke: var(--lyrene-dot-2, #567e8a);    
    }
    rect.design[data-selected="true"] {
        fill: var(--lyrene-dot-2, #567e8a);
    }
    rect.APP {
        stroke: var(--lyrene-dot-3, #A89F68);
    }
    rect.APP[data-selected="true"] {
        fill: var(--lyrene-dot-3, #A89F68);
    }
    rect.manage {
        stroke: var(--lyrene-dot-4, #80637d);
    }
    rect.manage[data-selected="true"] {
        fill: var(--lyrene-dot-4, #80637d);
    }
    .lyrene-x, .lyrene-y {
        font-size: .9rem;
        font-family: inherit;
        letter-spacing: 2px;
    }
    .lyrene-y line {
        display: none;
    }
    .d3-select-group {
        margin: 0 40px;
    }
    .d3-tag-group {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .d3-right-ul {
        margin: 1rem 0;
        padding-inline-start: 1.5rem;
    }
    .d3-right-ul>li {
        line-height: 2rem;
    }
    .d3-dot {
        display: inline-block;
        padding: calc(var(--lyrene-mp, 10px) / 2) var(--lyrene-mp, 10px);
        width: 90px;
        font-size: .8rem;
        text-align: center;
        letter-spacing: 2px;
    }
    .d3-dot-1 {
        box-shadow: inset 0 0 0 2px var(--lyrene-dot-1, #FF9FB2);
    }
    .d3-dot-2 {
        box-shadow: inset 0 0 0 2px var(--lyrene-dot-2, #567e8a);
    }
    .d3-dot-3 {
        box-shadow: inset 0 0 0 2px var(--lyrene-dot-3, #A89F68);
    }
    .d3-dot-4 {
        box-shadow: inset 0 0 0 2px var(--lyrene-dot-4, #80637d);
    }
/* GROUP: footer */
    .contact-outer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        align-items: center;
        margin: var(--lyrene-mp, 10px) auto;
    }
    .contact-inner {
        width: max-content;
    }
    .footer-contact {
        font-size: .9rem;
        line-height: 1.5rem;
        cursor: pointer;
        transition: all 300ms;
    }
    .contact-inner .footer-contact:nth-child(1):hover,
    .contact-inner .footer-contact:nth-child(1):active {
        color: var(--lyrene-dot-1, #FF9FB2);
        box-shadow: inset 0 -2px var(--lyrene-dot-1, #FF9FB2);
    }
    .contact-inner .footer-contact:nth-child(2):hover,
    .contact-inner .footer-contact:nth-child(2):active {
        color: var(--lyrene-dot-2, #567e8a);
        box-shadow: inset 0 -2px var(--lyrene-dot-2, #567e8a);
    }
    .copyright {
        padding: var(--lyrene-mp, 10px) 0;
        border-top: solid 1px white;
        width: 100%;
        font-size: .8rem;
        text-align: center;
        opacity: .6;
    }
/* GROUP: others */
    .flex-1 {
        -webkit-box-flex: 1;
        flex: 1;
    }
    .loading {
        background-image: url("../img/loading.svg");
        background-size: 50px 50px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .error-img {
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
    }
    .waiting-to-show {
        display: var(--waiting, "none");
    }
    .lyrene-select, .lyrene-select:focus {
        border-radius: 0;
        border-color: white;
        background-color: inherit;
        color: white;
    }
    .lyrene-select>option {
        background-color: var(--lyrene-img-bg, #3d4650);
    }
@media screen and (min-width: 1201px) {
    .index-left .left-child {
        font-size: 2.5vw;
    }
    .left-child .btn-t-en {
        font-size: 1vw;
    }
}
@media screen and (min-width: 1441px) {
    .index-left .left-child {
        font-size: 2vw;
    }
}